# Example usage

Here we will demonstrate how to use the `datpro` package to summarize data, detect anomalies, and create visualizations for a dataset.

## Imports

In [1]:
import datpro as dp
import pandas as pd
import numpy as np
import altair as alt
from itertools import combinations

## Load example dataset
We'll use a sample dataset to demonstrate the functionalities of the `datpro` package. The dataset contains demographic and transactional data, with the goal of predicting income based on other features such as age, gender, spending_score, and region.

In [2]:
df =  pd.read_csv('../data/example_data.csv')
df

      Age        Income  Spending_Score  Gender Region
0      66           NaN       26.373678    Male  South
1      65  66369.651809       20.906870  Female  South
2      59  70764.092278       47.990597    Male   West
3      64  41432.315153       31.120625  Female  North
4      53  52963.994070       12.016596  Female   East
...   ...           ...             ...     ...    ...
1005   18  62455.037248       22.795113  Female  North
1006   24  35361.901205       18.846863    Male  South
1007   51  56554.072546       17.076530  Female  South
1008   63  52799.136847       42.219961    Male   East
1009   42  52727.993826       27.395330    Male   East

[1010 rows x 5 columns]

In this dataset:

- `Age` is the age of the individual.

- `Income` is the annual income (our target variable for prediction).

- `Spending_Score` quantifies spending behavior.

- `Gender` specifies the gender of the individual.

- `Region` indicates the geographical region.

If you'd like to follow along with the same dataset, you can download our example CSV file [here](https://github.com/UBC-MDS/dataprofiler_group-30/blob/main/data/example_data.csv).

## Summarize data

## Detect Anomalies
To detect missing values, outliers, and duplicates, use the `detect_anomalies()` function.

In [3]:
dp.detect_anomalies(df)

{'missing_values': {'Income': {'missing_count': 50,
   'missing_percentage': np.float64(4.95)},
  'Spending_Score': {'missing_count': 30,
   'missing_percentage': np.float64(2.97)}},
 'outliers': {'Income': {'outlier_count': 24, 'outlier_percentage': 2.38},
  'Spending_Score': {'outlier_count': 4, 'outlier_percentage': 0.4}},
 'duplicates': {'duplicate_count': np.int64(10),
  'duplicate_percentage': np.float64(0.99)}}

The results from `detect_anomalies()` complement those of `summarize_data()` by identifying specific quality issues that require attention. For instance, anomalies such as missing data can guide imputation strategies, while outliers and duplicates may impact model accuracy if not properly addressed. Addressing these issues early ensures a more robust and reliable downstream analysis and modeling process.

## Plotify

## Conclusion
The `datpro` package provides a modular and efficient way to explore and profile your dataset. While we demonstrated its functionalities, additional cleaning steps such as handling missing values or outliers may be needed based on your analysis goals.

Feel free to replace the example dataset with your own data and adjust the function calls as needed.