# Example usage

To use `dataprofiler` in a project:

In [4]:
import datpro as dp
import pandas as pd

In [5]:
df =  pd.read_csv('../data/example_data.csv')
df

      Age        Income  Spending_Score  Gender Region
0      66           NaN       26.373678    Male  South
1      65  66369.651809       20.906870  Female  South
2      59  70764.092278       47.990597    Male   West
3      64  41432.315153       31.120625  Female  North
4      53  52963.994070       12.016596  Female   East
...   ...           ...             ...     ...    ...
1005   18  62455.037248       22.795113  Female  North
1006   24  35361.901205       18.846863    Male  South
1007   51  56554.072546       17.076530  Female  South
1008   63  52799.136847       42.219961    Male   East
1009   42  52727.993826       27.395330    Male   East

[1010 rows x 5 columns]

In [7]:
dp.detect_anomalies(df)

{'missing_values': {'Income': {'missing_count': 50,
   'missing_percentage': np.float64(4.95)},
  'Spending_Score': {'missing_count': 30,
   'missing_percentage': np.float64(2.97)}},
 'outliers': {'Income': {'outlier_count': 24, 'outlier_percentage': 2.38},
  'Spending_Score': {'outlier_count': 4, 'outlier_percentage': 0.4}},
 'duplicates': {'duplicate_count': np.int64(10),
  'duplicate_percentage': np.float64(0.99)}}